// Variables
$color-primary: #4b4b4b;
$color-secondary: #EBCB80;
$color-white: #ffffff;


// component
* {
  box-sizing: border-box;
}

body, p, a {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: $color-primary;
  font-style: normal;
  font-weight: normal;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $color-white;
}

.btn{
  background-color: inherit;
  cursor: pointer;
  width: 198px;
  height: 48px;
  border-radius: 50px;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  letter-spacing: 0.0625em;
  border: none;
  color: $color-primary;
}

.title {
  font-size: 44px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -0.0363636em;
}

.content {
  font-size: 16px;
  line-height: 24px;
}

.card {
  width: 360px;
  height: 396px;
  text-align: center;
  padding: 40px 0;
  background: $color-primary;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  position: relative;
  opacity: 0.9;
  &::after {
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: linear-gradient(226.22deg, rgba(0, 0, 0, 0.0001) 4.85%, rgba(0, 0, 0, 0.401127) 96.5%);
    background-blend-mode: multiply ;
    border-radius: 8px;
    z-index: -1;
  }

  &--silver {
    &::after {
      content: "";
      position: absolute;
      left: 0; right: 0;
      top: 0; bottom: 0;
      background: linear-gradient(226.82deg, rgba(255, 255, 255, 0.3) 5.13%, rgba(255, 255, 255, 7e-05) 90.88%);
      background-blend-mode: soft-light ;
      border-radius: 8px;
      z-index: -1;
    }
  }

  &--gold {
    background: $color-secondary;
    &::after {
      content: "";
      position: absolute;
      left: 0; right: 0;
      top: 0; bottom: 0;
      background: linear-gradient(227.73deg, rgba(255, 255, 255, 0.496575) 0%, rgba(255, 255, 255, 0.0001) 100%);
      background-blend-mode: soft-light ;
      border-radius: 8px;
      z-index: -1;
    }
  }

  &__name {
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    letter-spacing: 0.0555556em;
    color: #EBCB80;
    font-family: "Lucida Grande";

    &--gold {
      color: $color-primary;
    }
  }

  &__price {
    display: flex;
    justify-content: center;
    padding: 30px 0 15px;
  }

  &__dollar {
    color: $color-white;

    &--gold {
      color: $color-primary;
    }
  }

  &__number {
    font-size: 64px;
    line-height: 48px;
    letter-spacing: -0.0363636em;
    color: $color-white;

    &--gold {
      color: $color-primary;
    }
  }

  &__date {
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: $color-white;

    &--gold {
      color: $color-primary;
    }
  }

  &__content {
    color: $color-white;

    &--gold {
      color: $color-primary;
    }
  }

  &__button {
    margin-top: 30px;
    background-color: $color-secondary;

    &--gold {
      color: $color-white;
      background-color: $color-primary;
    }
  }
}


// Header
.header {
  height: 156px;
  background: $color-primary;
  display: flex;
  justify-content: space-between;

  &__logo {
    text-transform: uppercase;
    color: $color-secondary;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.0554719em;
    cursor: pointer;
    align-self: center;
    margin-left: 10%;;
  }

  .nav {
    display: flex;
    margin-right: 10%;
    align-items: center;

    &__container {
      display: flex;
      width: 318px;
      justify-content: space-between;
      margin-right: 50px;
    }

    &__link {
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.0555556em;
      text-transform: uppercase;
    }

    &__btn {

      width: 180px;
      height: 48px;
      color: $color-white;
      border: 2px solid $color-white;
      letter-spacing: 0.05em;
    }
  }
}


// Banner
.banner{
  height: 1000px;
  position: relative;
  background: {
    image: url("../img/Background.png");
    size: cover;
    repeat: no-repeat;
  }
  mix-blend-mode: normal;
  opacity: 0.8;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: $color-secondary;
    mix-blend-mode: color;
    z-index: -1;
  }

  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  &__content {
    text-align: center;
    margin-top: 20px;
  }

  &__form {
    text-align: center;
    margin-top: 50px;
  }

  &__email {
    width: 270px;
    height: 48px;
    border: 1px solid $color-primary;
    border-radius: 4px;
    padding-left: 20px;
    background-color: inherit;
    margin-right: 15px;
  }

  &__btn {
    border: 2px solid $color-primary;
  }

  &__footer {
    display: flex;
    justify-content: space-around;
    max-width: 480px;
    margin: auto;
    margin-top: 100px;
  }
}


// Our team
.team{
  padding: 50px 0 100px;

  &__title {
    padding-bottom: 50px;
  }

  &__container {
    max-width: max-content;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px 50px;

    &--member {
      display: flex;
    }
  }

  &__image {
    align-self: flex-start;
  }

  &__content {
    padding-left: 20px;
  }

  &--name {
    font-size: 18px;
    line-height: 26px;
  }

  &--division {
    font-size: 16px;
    line-height: 26px;
  }

  &__des {
    max-width: 264px;
    padding-top: 20px;
  }
}


// Pricing
.pricing {
  background: $color-primary;
  padding: 50px 0 100px;

  &__title {
    padding-bottom: 50px;
    color: $color-white;
  }

  &__container {
    max-width: max-content;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
}


// Testimonials
.testimonial {
  position: relative;
  padding: 100px 250px;
  text-align: center;

  .direct {
    position: absolute;
    width: 1000px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: space-between;
    .prev, .next{
      cursor: pointer;
    }
  }

  &__image {
    border-radius: 50%;
    border: 4px solid $color-secondary;
  }

  &__name {
    padding: 25px;
    font-size: 18px;
    line-height: 27px;
  }

  &__content {
    max-width: 555px;
    margin: auto;
    padding-bottom: 50px;
  }

  .dotnav {
    max-width: 150px;
    display: flex;
    margin: auto;
    justify-content: space-around;
    .dot {
      width: 14px;
      height: 14px;
      border: 2px solid $color-primary;
      border-radius: 50%;
      cursor: pointer;
      &--active {
        background-color: $color-primary;
      }
    }
  }
}
